
 <h4 class="mb-3">Payment</h4>

          <div class="my-3">
            <div class="form-check">
              <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
              <label class="form-check-label" for="credit">Credit card</label>
            </div>
            <div class="form-check">
              <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
              <label class="form-check-label" for="debit">Debit card</label>
            </div>
            <div class="form-check">
              <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
              <label class="form-check-label" for="paypal">PayPal</label>
            </div>
          </div>

          <form class="was-validated">
  <div class="col-md-6">
    <label for="validationTextarea">Name on Credit card</label>
    <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Please enter your name " required></textarea>
    <div class="invalid-feedback">
    </div>
  </div>
 <div class="col-md-6">
              <label for="cc-number" class="form-label" name='creditcradnum'>Credit card number</label>
              <input type="number" class="form-control is-inivalid" id="cc-number" placeholder="" required>
              <div class="invalid-feedback">
               
              </div>
            </div>

            <div class="col-md-3">
              <label for="cc-expiration" class="form-label">CVV</label>
              <input type="number" class="form-control is-invalid" id="cc-expiration" placeholder="" required>
              <div class="invalid-feedback">
                
              </div>
              
            <div class="col-md-12">
              <label for="cc-expiration" class="form-label">exp date</label>
              <input type="date" class="form-control is-invalid" id="cc-expiration" placeholder="" required>
              <div class="invalid-feedback">
                
              </div>
	 </div>
 <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
        </form>
      </div>
    </div>
  </main>
